body > div {
  margin-top: 3em;
}

.navbar-brand img {
  height: 25px;
}

p.lggr-level-buttons {
  line-height: 250%;
}

#tsfromto {
  display: none;
}
input.tspick {
  width: 9em;
}

.datarow div {
  white-space: nowrap;
  overflow: hidden;
}

.datarow.even {
 background-color: #e0e0e0;
}
.datarow.odd {
 background-color: #c0c0c0;
}

.datarow .newlog-msg {
	cursor: zoom-in;
}

#dialog {
	max-height: 500px !important;
	overflow: auto;
}

p.debugfooter {
	float: right;
	color: #999999;
	font-size: 75%;
}
