div#infoheader, div#liveheader, div#statsheader {
    margin-top: 5em;
}

div.lggr-col-filter div.lggr-formelement {
    margin-bottom: 1em;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

div#liveheader h2 span.glyphicon-refresh {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.navbar-brand img {
    height: 25px;
}

p.lggr-level-buttons {
    line-height: 250%;
}

#tsfromto {
    display: none;
}

input.tspick {
    width: 9em;
}

.datarow div {
    white-space: nowrap;
    overflow: hidden;
}

.datatitle {
    font-weight: bold;
    background-color: #a0a0a0;
}

.datarow:nth-child(even) {
    background-color: #e0e0e0;
}

.datarow:nth-child(odd) {
    background-color: #c0c0c0;
}

.datarow.freshrow {
    display: none;
}

.datarow .newlog-msg {
    cursor: zoom-in;
}

span.lggr-notarchived, span.lggr-archived {
    cursor: pointer;
}

span.lggr-archived {
    color: #f00;
}

#dialog {
    max-height: 500px !important;
    overflow: auto;
}

h4.panel-title span {
    float: right;
}

#cloudcontainer {
    width: 100%;
    height: 250px;
}

p.debugfooter {
    float: right;
    color: #999999;
    font-size: 75%;
}
